<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Compasso - UOL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Compasso - UOL Front-End" />
  <link href="http://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro" rel="stylesheet"
    type="text/css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/variables.css">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <noscript> You need to enable JavaScript to run this app. </noscript>

  <div class="header">
    <img src="../../assets/images/png/logo-compasso-home.png" alt="logo compasso" class="header__logo">
    <div class="header__clock">
      <span class="header__hour">11:26</span>
      <span class="header__date">terça-feira, 17 de março de 2020</span>
    </div>
    <div class="header__climate">
      <span class="header__location">Passo Fundo - RS</span>
      <div class="header__temperature-container">
        <img src="../../assets/images/svg/icon-cloudy.svg" alt="ícone de nuvem">
        <span class="header__temperature">22º</span>
      </div>
    </div>
  </div>

  <div id="app"></div>
  <script src="./js/main.js"></script>
</body>
</html>