<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Compasso - UOL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Compasso - UOL Front-End" />
  <link href="http://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro" rel="stylesheet"
    type="text/css">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/variables.css">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
  <noscript> You need to enable JavaScript to run this app. </noscript>

  <!-- Header -->
  <header class="header">
    <img src="../../assets/images/png/logo-compasso-home.png" alt="logo compasso" class="header__logo">
    <div class="header__clock">
      <span class="header__hour">11:26</span>
      <span class="header__date">terça-feira, 17 de março de 2020</span>
    </div>
    <div class="header__climate">
      <span class="header__location">Passo Fundo - RS</span>
      <div class="header__temperature-container">
        <img src="../../assets/images/svg/icon-cloudy.svg" alt="ícone de nuvem">
        <span class="header__temperature">22º</span>
      </div>
    </div>
  </header>

  <!-- Content -->
  <main class="content">
    <img src="../../assets/images/png/logo-uol.png" alt="Bola Logo uol" class="content__logo">
    <div class="content__text-container">
      <p class="content__text-title content__text-title--first">Our mission is</p>
      <p class="content__text-translate">Nossa missão é</p>
      <p class="content__text-title">to transform the world</p>
      <p class="content__text-translate">transformar o mundo</p>
      <p class="content__text-title">building digital experiences</p>
      <p class="content__text-translate">construindo experiências digitais</p>
      <p class="content__text-title">that enable our client’s growth</p>
      <p class="content__text-translate">que permitam o crescimento dos nossos clientes</p>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer__info-container">
      <span class="footer__info">Essa janela do navegador é usada para manter sua sessão de autenticação ativa. Deixe-a aberta em segundo plano e abra
      uma nova janela para continuar a navegar.</span>
      <div class="footer__refresh">
        <div class="footer__refresh-info">
          Application reresh in
        </div>
        <div class="footer__clock">
          <div class="footer__seconds">600</div>
          <span class="footer__seconds-disclaimer">seconds</span>
        </div>
      </div>
    </div>
    <div class="footer__actions">
      <div class="footer__action footer__action--active">
        <span class="footer__action--link">Continuar Navegando</span>
      </div>
      <div class="footer__action">
        <span class="footer__action--link" onclick="signout(event)">Logout</span>
      </div>
    </div>
  </footer>


  <script src="../js/main.js"></script>
</body>
</html>