.header {
  position: fixed;
  top: 0;
  font-family: 'Mark Pro';
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.header__logo {
  width: 150px;
  margin-top: 25px;
  margin-left: 40px;
  max-height: 42px;
}

.header__clock {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__hour {
  font-size: 144px;
  font-weight: bold;
  line-height: 183px;
  height: 150px;
  text-align: center;
  margin-bottom: 5px;
}

.header__date {
  font-size: 14px;
  line-height: 18px;
}

.header__climate {
  display: flex;
  flex-direction: column;
  margin: 25px 41px;
}

.header__temperature-container {
  display: flex;
}

.header__temperature {
  font-size: 48px;
  font-weight: bold;
  margin-left: 12px;
}

.header__location {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Mark Pro';
  margin-top: 259px;
}

.content__text-container {
  margin-right: 134px;
  text-align: right;
}

.content__text-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 64px;
  line-height: 81px;
}

.content__text-title--first {
  font-size: 36px;
  line-height: 46px;
}

.content__text-translate {
  color: var(--text-color);
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 3px;
}