.header {
  position: fixed;
  top: 0;
  font-family: 'Mark Pro';
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.header__logo {
  width: 150px;
  margin-top: 25px;
  margin-left: 40px;
  max-height: 42px;
}

.header__clock {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__hour {
  font-size: 144px;
  font-weight: bold;
  line-height: 183px;
  height: 150px;
  text-align: center;
  margin-bottom: 5px;
}

.header__date {
  font-size: 14px;
  line-height: 18px;
}

.header__climate {
  display: flex;
  flex-direction: column;
  margin: 25px 41px;
}

.header__temperature-container {
  display: flex;
}

.header__temperature {
  font-size: 48px;
  font-weight: bold;
  margin-left: 12px;
}

.header__location {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Mark Pro';
  margin-top: 259px;
}

.content__text-container {
  margin-right: 134px;
  text-align: right;
}

.content__text-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 64px;
  line-height: 81px;
}

.content__text-title--first {
  font-size: 36px;
  line-height: 46px;
}

.content__text-translate {
  color: var(--text-color);
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 3px;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  max-height: 100px;
  padding: 29px;
  background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
  font-family: 'Mark Pro';
  color: #FFFFFF;
  width: 100vw;
  box-sizing: border-box;
}

.footer__info-container {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  max-width: 541px;
}

.footer__info::after {
  content: '';
  height: 61px;
  width: 1px;
  display: inline-block;
  position: absolute;
  background-color: #ffffff;
  margin-left: 35px;
  bottom: 22px;
}

.footer__refresh {
  display: flex;
  margin-left: 123px;
  align-items: center;
}

.footer__refresh-info {
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  max-width: 109px;
  display: inline-block;
}

.footer__clock {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.footer__seconds {
  display: inline-block;
  vertical-align: super;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  margin-left: 33px;
}

.footer__seconds-disclaimer {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin-left: 26%;
}

.footer__actions {
  display: flex;
  text-align: center;
  align-items: center;
}

.footer__action {
  max-width: 100px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-end;
}

.footer__action--active {
  height: 100px;
  background-color: #ffffff;
  box-sizing: border-box;
  color: var(--primary-color);
}

.footer__action--link {
  margin: 34px 0px;
}

@media only screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    position: relative;
  }
  .header__climate {
    align-items: center;
  }
  .content {
    margin-top: 0;
    justify-content: flex-end;
  }
  .content__logo {
    display: none;
  }
  .content__text-container {
    margin-right: 20px;
    margin-top: 15px;
  }
  .content__text-title {
    font-size: 38px;
    line-height: 34px;
  }
  .content__text-title--first {
    font-size: 20px;
    line-height: 20px;
  }
  .content__text-translate {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footer {
    flex-direction: column;
    height: auto;
    max-height: none;
    position: relative;
  }
  .footer__info-container {
    flex-direction: column;
  }
  .footer__info {
    max-width: none;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .footer__info::after {
    display: none;
  }
  .footer__refresh {
    margin-left: 0;
    justify-content: center;
  }
  .footer__actions {
    flex-direction: column;
    margin-top: 11px;
  }
  .footer__action {
    width: 100vw;
    max-width: none;
    margin-right: 0;
    align-items: center;
  }
  .footer__action--link {
    margin: 34px 0px;
  }
}
